# Grouping and Aggregating Data

## Outine
* Splitting data into groups
* Aggregation

In [1]:
import pandas as pd
df = pd.read_csv('./data/nba.csv')

df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0


## Splitting data into groups

Pandas `dataframe.groupby()` function is used to split the data into groups based on some criteria.

In [2]:
#Use groupby() function to group the data based on the “Team".

team = df.groupby("Team")
#print first value in each group
team.first()

,Name,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,
Atlanta Hawks,Kent Bazemore,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
Boston Celtics,Avery Bradley,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Brooklyn Nets,Bojan Bogdanovic,44.0,SG,27.0,6-8,216.0,Oklahoma State,3425510.0
Charlotte Hornets,Nicolas Batum,5.0,SG,27.0,6-8,200.0,Virginia Commonwealth,13125306.0
Chicago Bulls,Cameron Bairstow,41.0,PF,25.0,6-9,250.0,New Mexico,845059.0
Cleveland Cavaliers,Matthew Dellavedova,8.0,PG,25.0,6-4,198.0,Saint Mary's,1147276.0
Dallas Mavericks,Justin Anderson,1.0,SG,22.0,6-6,228.0,Virginia,1449000.0
Denver Nuggets,Darrell Arthur,0.0,PF,28.0,6-9,235.0,Kansas,2814000.0
Detroit Pistons,Joel Anthony,50.0,C,33.0,6-9,245.0,UNLV,2500000.0
Golden State Warriors,Leandro Barbosa,19.0,SG,33.0,6-3,194.0,North Carolina,2500000.0
Houston Rockets,Trevor Ariza,1.0,SF,30.0,6-8,215.0,UCLA,8193030.0
Indiana Pacers,Lavoy Allen,5.0,PF,27.0,6-9,255.0,Temple,4050000.0
Los Angeles Clippers,Cole Aldrich,45.0,C,27.0,6-11,250.0,Kansas,1100602.0
Los Angeles Lakers,Brandon Bass,2.0,PF,31.0,6-8,250.0,LSU,3000000.0
Memphis Grizzlies,Jordan Adams,3.0,SG,21.0,6-5,209.0,UCLA,1404600.0
Miami Heat,Chris Bosh,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
Milwaukee Bucks,Giannis Antetokounmpo,34.0,SF,21.0,6-11,222.0,Arizona,1953960.0
Minnesota Timberwolves,Nemanja Bjelica,88.0,PF,28.0,6-10,240.0,Louisville,3950001.0
New Orleans Pelicans,Alexis Ajinca,42.0,C,28.0,7-2,248.0,California,4389607.0
New York Knicks,Arron Afflalo,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0
Oklahoma City Thunder,Steven Adams,12.0,C,22.0,7-0,255.0,Pittsburgh,2279040.0
Orlando Magic,Dewayne Dedmon,3.0,C,26.0,7-0,245.0,USC,947276.0
Philadelphia 76ers,Elton Brand,42.0,PF,37.0,6-9,254.0,Duke,947276.0
Phoenix Suns,Eric Bledsoe,2.0,PG,26.0,6-1,190.0,Kentucky,13500000.0
Portland Trail Blazers,Cliff Alexander,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
Sacramento Kings,Quincy Acy,13.0,SF,25.0,6-7,240.0,Baylor,981348.0
San Antonio Spurs,LaMarcus Aldridge,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
Toronto Raptors,Bismack Biyombo,8.0,C,23.0,6-9,245.0,Missouri,2814000.0
Utah Jazz,Trevor Booker,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
Washington Wizards,Alan Anderson,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0

Let’s print the value contained in a group. To do that, we will use the name of the team. We use the function get_group() to find the entries contained in any one of the groups.

In [3]:
# Finding the values contained in the "Boston Celtics" group 
team.get_group("Boston Celtics")

,Name,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

We can also use the `groupby()` function to form groups based on more than one category (i.e. Use more than one column to perform the splitting).

In [4]:
# First grouping based on "Team" 
# Within each team we are grouping based on "Position" 

team_position = df.groupby(["Team", "Position"])

In [5]:
# Print the first value in each group 

team_position.first()

                                         Name  Number   Age Height  Weight  \
Team               Position
Atlanta Hawks      C               Al Horford    15.0  30.0   6-10   245.0
                   PF          Kris Humphries    43.0  31.0    6-9   235.0
                   PG         Dennis Schroder    17.0  22.0    6-1   172.0
                   SF           Kent Bazemore    24.0  26.0    6-5   201.0
                   SG        Tim Hardaway Jr.    10.0  24.0    6-6   205.0
...                                       ...     ...   ...    ...     ...
Washington Wizards C            Marcin Gortat    13.0  32.0   6-11   240.0
                   PF             Drew Gooden    90.0  34.0   6-10   250.0
                   PG          Ramon Sessions     7.0  30.0    6-3   190.0
                   SF            Jared Dudley     1.0  30.0    6-7   225.0
                   SG           Alan Anderson     6.0  33.0    6-6   220.0

                                          College      Salary
Team               Position
Atlanta Hawks      C                      Florida  12000000.0
                   PF                   Minnesota   1000000.0
                   PG                 Wake Forest   1763400.0
                   SF                Old Dominion   2000000.0
                   SG                    Michigan   1304520.0
...                                           ...         ...
Washington Wizards C         North Carolina State  11217391.0
                   PF                      Kansas   3300000.0
                   PG                      Nevada   2170465.0
                   SF              Boston College   4375000.0
                   SG              Michigan State   4000000.0

[149 rows x 7 columns]

## Aggregation

Aggregation can be performed by either using the available aggregating functions on the `groupby` object, or using the aggregate function to apply arbtrary function logic.

`dataframe.aggregate()` function is used to apply some aggregation across one or more column. Aggregate using callable, string, dict, or a list of string/callables. Most frequently used aggregations are:

- sum: Return the sum of the values for the requested axis
- min: Return the minimum of the values for the requested axis
- max: Return the maximum of the values for the requested axis

In [6]:
# Applying aggregation across all the columns  sum and min will be found for each  
# numeric type column in df dataframe 
  
df.aggregate(["sum", "max"])

     Number      Age    Weight        Salary
sum  8079.0  12311.0  101236.0  2.159837e+09
max    99.0     40.0     307.0  2.500000e+07

In Pandas, we can also apply different aggregation functions across different columns. For that, we need to pass a dictionary with key containing the column names and values containing the list of aggregation functions for any specific column.

In [7]:
# We are going to find aggregation for these columns 
df.aggregate({ "Age":['max', 'min'], 
              "Weight":['max', 'min'],  
              "Salary":['sum']})

      Age  Weight        Salary
max  40.0   307.0           NaN
min  19.0   161.0           NaN
sum   NaN     NaN  2.159837e+09

### Summary

- We can split the data in a dataframe by using the function `groupby()`
    - We can group data by selecting one or multiple columns
- We can perform aggregation by using the function `aggregate` to conveniently get the sum, min, max or other statistical info about our dataframe.